<!DOCTYPE html>
<html id="html" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<title>{{ .Site.Title }}</title>
	<meta name="description" content="{{ .Summary }}">
	<link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
	{{- with .OutputFormats.Get "RSS" -}}
	<link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}"	href="{{ .RelPermalink }}"/>
	{{- with $.Site.Params.podcast_title }}
	<link rel="alternate" type="application/rss+xml" title="{{ . }}"	href="{{ "podcast.xml" | absURL }}" />
	{{ else }}
	<link rel="alternate" type="application/rss+xml" title="Podcast" href="{{ "podcast.xml" | absURL }}" />
	{{ end -}}
	<link rel="alternate" type="application/json" title="{{ $.Site.Title }}" href="{{ "feed.json" | absURL }}" />
	<link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
	{{- end -}}
	<link rel="me" href="https://github.com/heyloura" />
	<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
	<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
	<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
	<link rel="micropub" href="https://micro.blog/micropub" />
	<link rel="microsub" href="https://micro.blog/microsub" />
	<link rel="webmention" href="https://micro.blog/webmention" />
	<link rel="subscribe" href="https://micro.blog/users/follow" />
	<link rel="canonical" href="{{ .Permalink }}"> 
	<style>html{color:#1d1d1d;font-family:sans-serif;max-width:70ch;padding:1em;margin:auto;line-height:1.75;font-size:1.25em}h1,h2,h3,h4,h5,h6{margin:2em 0 1em;font-family:serif;}ol,p,ul{margin-bottom:2em;}img{max-width:100%;height:auto;background-color:ivory}legend{padding:0;display:table;font-weight: bold;}fieldset{border:0;padding:.01em 0 0;margin:0;min-width:0}body:not(:-moz-handler-blocked) fieldset{display:table-cell}</style>
</head>
<body>
<header>
	<h1>Hey Loura!</h1>
	<nav> 
		<a href="/">Home</a> ◈
		<a href="/about">About</a> ◈
		<a href="/photos">Photos</a> ◈
		<a href="/search-space/">Search</a> ◈
		<a href="/archive">Archive</a> 
	</nav>
</header>
<main>{{ block "main" . }}{{ end }}</main>
<footer>
	<h2>It's the end of my website ... and I feel fine.</h2>
	<p>Made by (∩^o^)⊃━☆ <a href="/" class="h-card" rel="me">Loura</a> ⁂   
		<a href="https://heyloura.com/feed.xml">rss</a> ⁂ xxxx website hits ⁂
		<a href="https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/previous">←</a>
		<a href="https://xn--sr8hvo.ws">IndieWeb 🕸️💍</a> 
		<a href="https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/next">→</a></p>
</footer>
</body>
</html>
