{{ define "main" }}
<section>
    <header>
        <h2>Welcome</h2>
    </header>
    <p>
        Hi, I'm Loura and this is my digital space. 
        Please feel free to explore, learn more <a href="/about">about me</a>, 
        <a href="/work">my work</a> and what I'm up to <a href="/now">now</a>.
    </p>
</section>
<section class="h-feed">
    <header><h2>My Interests</h2></header>
    <ol>
    {{ range .Site.Menus.main }}
        {{ if .Page.Params.redirect }}
            <li><a class="page-link" href="{{ .Page.Params.redirect }}">{{ .Name }}</a></li>
        {{ else }}
            <li><a class="page-link" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
        {{ end }}
    {{ end }}
    </ol>
</section>
<section class="h-feed">
    <header><h2>Dear Internet</h2></header>
    <p>
        Somehow I missed the twitter thing, I don't really enjoy Facebook, and Reddit never caught my fancy. I actually found
        the web pretty boring. So in a spur of nostalgia in 2022 I looked at sites on neocities and learned a bit about the indieweb.
        After a bit I gave micro.blog a try and found I really enjoy it there.
    </p>
</section>
{{ end }}
