{{ define "main" }}
<section>
    <header>
        <h2>Welcome</h2>
    </header>
    <p>
        Hi, I'm Loura and this is my digital space. 
        Please feel free to <a href="/random">explore</a>, learn more <a href="/about">about me</a>, 
        <a href="/work">my work</a> and what I'm up to <a href="/now">now</a>.
    </p>
</section>
<section>
    <header><h2>My Interests</h2></header>
    <p>
        These are the things that have interested me enough to post something. It could
        be a quick note or a longer musing. Sometimes I attach photos/screenshots, books I've read, or
        I'll bookmark something on the web. Take a look:
    </p>
    <ol>
    {{ range .Site.Menus.main }}
        {{ if .Page.Params.redirect }}
            <li><a class="page-link" href="{{ .Page.Params.redirect }}">{{ .Name }}</a></li>
        {{ else }}
            <li><a class="page-link" href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
        {{ end }}
    {{ end }}
    </ol>
</section>
<section class="h-feed">
	<header><h2>Dear Internet</h2></header>
	<p>
		Sometimes I just want to say something on the internet that isn't part of anything in particular.
		Below you can find my ephemeral musings. Wanna chat about one? Click on the hyperlink and join the conversation (～￣▽￣)～
	</p>
	<p>You can also strike up a <a href="/replies">conversation</a> on <a href="https://micro.blog/heyloura">micro.blog</a> or on the fediverse at <a href="https://micro.blog/heyloura?remote_follow=1">@heyloura@heyloura.com</a></p>
	<p>Yours truly, <a rel="author" class="p-author h-card" href="/">Loura</a></p>
	<dl>
	{{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 20) }}
	{{ range $paginator.Pages  }}
		{{ if .Page.Params.categories }}
		{{ else }}
		{{ if .Title }}
		{{ else }}
			{{ $stringCheck := .Content }}
			{{ $stringResult := substr $stringCheck 0 10 }}
			{{ $image := ".jpg" }}
			{{ $jpeg := ".jpeg" }}
			{{ $video := "<video" }}
			{{ $audio := "<audio" }}	
			{{ if in $stringCheck (or ($image) ($jpeg) ($video) ($audio)) }}
			{{ else }}			
				<article class="h-entry">
						<dt>
							<a href="{{ .Permalink }}" class="u-url">
								<time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
							</a>
							{{- if .Page.Params.categories -}}
								{{- range $index, $category := .Page.Params.categories -}}
								 ◊ <a class="p-category" href="/categories/{{ $category | anchorize }}/">#{{ $category }}</a> 
								{{- end -}}
							{{- end -}}
						</dt>
						<dd class="e-content">{{ .Content }}</dd>
				</article>
			{{ end }}
		{{ end }}
		{{ end }}
	{{ end }}
  </dl>
	{{ $pag := $.Paginator }}
	<nav>
		{{ if $pag.HasPrev }}
			<a rel='prev' href='{{ $pag.Prev.URL }}' title='Previous Page'>← Newer Posts</a>
		{{ end }}
		{{ if $pag.HasNext }}
			<a rel='next' href='{{ $pag.Next.URL }}'>Older Posts →</a>
		{{ end }}
	</nav>
</section>
{{ end }}
